@import"./utils/variables";
@import"./components/common";
@import"./components/header";
@import"./components/footer";
@import"./components/portfolio";
@import"./components/modal";


.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

// Hero
.cont .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
  
    background-image: linear-gradient(
      to right,
       rgba(47, 48, 58, 0.8),
       rgba(47, 48, 58, 0.8)),
       url(../images/Header.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
  }

.hero {
    text-align: center;

    &-title {
    color: $white-text-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    
      
    margin-top: 0px;
    margin-bottom: 38px;
        
    }
}
// Section & H2
.section-title {
    color: $primary-text-color;

    font-weight:700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  
    margin-top: 0px;
    margin-bottom: 50px;
  }


// Features
.features {
    display: flex; 
    width: 270px; 

    .item:not(:last-child) {
        margin-right: 30px;
      }

    &-fone {
        width:270px;
        height:120px;
        background-color: #F5F4FA;;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 25px;
        padding-bottom: 25px;
        
        margin-bottom: 30px;   
    }

    &-icon {
        width:70px;
        height:70px;   
    }

    &-img {
        margin-bottom: 30px;  
    }
    &-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14; 
        text-transform: uppercase;
      
        margin-top: 0px;
        margin-bottom: 10px;    
    }
    &-text {
        color: $secondary-text-color;
        font-size: 14px;
        line-height: 1.71;
      
        margin-top: 0px;
        margin-bottom: 0;   
    }

   
  }

  .directions {
    display:flex;

    .item {
        width: 370px;
    }
    .item + .item{
        margin-left: 30px;
        
      }
  }

  .section .workline {
  
    color: $white-text-color;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
  
    text-transform: uppercase;
  }
  .item {
    position: relative;
  }

  .shadow {
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
  
    justify-content: center;
    align-items: center;

    &-text {
    display: flex;
    position: absolute;
    }
  }

//   Наша команда
.ourteam {
    background-color: #F5F4FA;
  }

  .ourteam-ul {
    display:flex;

  .item {
    width: 270px;
    display: inline-flex;
    flex-direction: column;
    background-color:$white-text-color;

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
  }
  .item + .item {
    margin-left: 30px;
  }
}

.name {
    color: $primary-text-color;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .position {
    color: $secondary-text-color;
  
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  
    margin-bottom: 16px;
  }
  // Ярлыки ссылки
  .worker-links {
    display:flex;
    justify-content:space-evenly ;
    align-content:center;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right:32px;

    .item {
      display: block;
      width: 40px;
      height: 40px;
      background-color:$white-text-color;
      border-radius: 50%;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 12px;
      padding-bottom: 12px;

      box-shadow:none;

      &:hover {
        background-color: $accent-color;
      }


      .icon {
        width: 20px;
        height: 20px;
        fill: #AFB1B8;

        

      // &:hover {
      //   fill:$white-text-color;
      // }  
      } 
    }
  }

  .worker-links .item:hover .icon {
    fill:white;
  }
// Наши клиенты



.clients {

  display:flex;

  .item +.item {
    margin-left:30px;
  }

  .item {
  display: block;
  width: 170px;
  height: 90px;
  
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  &:hover {
    border: 1px solid $accent-color;
  }



.icon1 {
    width: 44px;
    height: 49px;
    fill:#AFB1B8;
    }

.icon2 {
    width: 40px;
    height: 52px;
    fill:#AFB1B8;
    }

.icon3 {
   width: 41px;
   height: 42px;
   fill:#AFB1B8;
   }

.icon4 {
width: 80px;
height: 42px;
fill:#AFB1B8;
}

.icon5 {
width: 59px;
height: 47px;
fill:#AFB1B8;
}

.icon6 {
width: 88px;
height: 45px;
fill:#AFB1B8;
   }

  }

}

.clients .item:hover .icon1 {
  fill:$accent-color;
}
.clients .item:hover .icon2 {
  fill:$accent-color;
}
.clients .item:hover .icon3 {
  fill:$accent-color;
}
.clients .item:hover .icon4 {
  fill:$accent-color;
}
.clients .item:hover .icon5 {
  fill:$accent-color;
}
.clients .item:hover .icon6 {
  fill:$accent-color;
}



