// container
.container {
    @media screen and (min-width:480px){
        width:480px;
    }
    @media screen and (min-width:768px){
        width:768px;
       
    }
    @media screen and (min-width:1200px){
        width:1200px;
    }
}

.container.team {
    @media screen and (max-width:1199px){
    padding-left:0px;
    padding-right:0px;}
    @media screen and (min-width:1200px){
    padding-left:15px;
    padding-right:15px;}
}

.container.features {
    @media screen and (max-width:1199px){
    padding-left:0px;
    padding-right:0px;}

    @media screen and (min-width:1200px){
    padding-left:15px;
    padding-right:15px;}
}

.container.clients {
    @media screen and (max-width:1199px){
    padding-left:0px;
    padding-right:0px;}
    
    @media screen and (min-width:1200px){
    padding-left:15px;
    padding-right:15px;} 
}

// section
.section {
    @media screen and (max-width: 1199px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

// header
.main-nav {
    @media screen and (min-width:786px){
    display:flex;}
}

// hero
// hero titile
.hero-title {
    @media screen and (max-width:1199px){
        font-size: 26px;
    }

    @media screen and (min-width:1200px){
        font-size: 44px;
    }
}

// Features
.features {
    
        @media screen and (min-width:480px){
            
        }
        @media screen and (min-width:768px){
            display: flex;
            flex-wrap: wrap;
            
        }
        @media screen and (min-width:1200px){
            display: flex;
            flex-wrap: wrap;
        }
    }

.features .item {
    @media screen and (min-width:480px){
        width:450px;
        margin:15px;
    }
    @media screen and (min-width:768px){
        &:not(:last-child) {
            margin-right: 15px;}
        width:354px;
        margin:15px;
        
    }
    @media screen and (min-width:1200px){
        &:not(:last-child) {
            margin-right: 30px;}
        width:270px;
        margin:0px;
    }
}    
.features-fone {
    @media screen and (min-width:480px){
        width:450px;
    }
    @media screen and (min-width:768px){
        width:354px;    
    }
    @media screen and (min-width:1200px){
        width:270px;
    }
}
.features-title {
    @media screen and (max-width:767px){
        text-align: center;
    }
    @media screen and (min-width:768px){
        text-aligh: left;
    
    }
}

// Чем мы занимаемся
.container.direct {
    display:none;
    
    @media screen and (min-width:1200px){
        display:block;
    }
    
}

// Наша команда
.section-title {
    @media screen and (max-width:1199px){
    font-size:28px;}
    @media screen and (min-width:1200px){
        font-size:36px;}
}
.ourteam-ul {
    @media screen and (min-width:768px){
        display:flex;
        flex-wrap: wrap; }
}




.ourteam-ul .item {
    @media screen and (min-width:480px){
        width:450px;
       
        margin:15px;
    }
    @media screen and (min-width:768px){
        width:354px;
        display:flex;
        flex-wrap: wrap;
        margin:15px;
         
        
    }
    @media screen and (min-width:1200px){
        width:270px;
        display: inline-flex;
        
        margin: 0px;

        &.item + .item {
            margin-left: 30px;
          }
    }
}



// Наши клиенты

.clients {
    @media screen and (min-width:480px){
        display:flex;
        flex-wrap:wrap;
    }
    // @media screen and (min-width:768px){
    //     display:flex;
    // }
    // @media screen and (min-width:1200px){
    //     display:flex;
    // }
}


.clients .item {
    @media screen and (min-width:480px){
        width:210px;
        margin:15px;
    }
    @media screen and (min-width:768px){
        width:226px;
        margin:15px;
            
    }
    @media screen and (min-width:1200px){
        width:170px;
        margin:0px;
        
        &.item +.item {
            margin-left:30px;
          }
    }  

}
// footer
.footer-ul {
    text-align:center;
}