.main-nav {
    display:flex;
    align-items: center;
    
    justify-content: space-between;
  }
//   Logo
.logo {
    color: $primary-text-color;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
  .web {
    color: $accent-color;
  }

  .site-nav {
    display: flex ;
    margin-left: 85px;

    .item:not(:last-child)  {
        margin-right: 50px;  
      }
    
  }



// site-nav
.site-nav .link {
    display: block;
    color:$primary-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
    text-decoration: none;

    padding-top: 32px;
    padding-bottom: 32px;

    &:hover, 
    &:focus {
    color:$accent-color;
    }
}
// Чтобы подсвечивалачь ссылка
.site-nav .link-current {
  display: block;
  color: $accent-color;
  font-size: 14px;

  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
  
    background: $accent-color;
    border-radius: 2px;
  
  
    position: absolute;
    left:0;
    bottom:0;
  }
  
}



// auth-nav
.auth-nav .link {
    color:$secondary-text-color;

    font-size: 14px;

    text-decoration: none;
  
    padding-top: 32px;
    padding-bottom: 32px;



    &:hover,
    &:focus {
        color:$accent-color;
    }
}

.auth-nav {
  display: flex ;
  margin-left: auto;
  
}


.link.mail{
  margin-right:30px;
  
}



.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height:15px;
  margin-right: 10px;
  fill: currentColor;
}