// Модальное окно
textarea:focus, input:focus
{
  outline: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
  
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      }
  }
  .form {
   
    position: absolute;
    top:50%;
    left:50%;
  
    transform: translate(-50%, -50%);
  
    width: 528px;
    height: 581px;
  
    border-radius: 3px;
    // border: 1px solid tomato;
  
    background-color:$white-text-color;
  
    &-checkbox {
      margin-bottom: 30px;
      padding-left: 54px;
    }
  
    &-title {
      font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: $primary-text-color;
  
    margin-bottom: 30px;
    margin-top: 40px;
       }
  
       &-field {
        width: 448px;
        height: 40px;
        
        position: relative;
      
        margin-bottom: 28px;
        margin-left: 40px;
        
        .icon {
          position: absolute;
          top: 12px;
          left: 19px;
        
          display: inline-block;
          width: 12px;
          height: 12px;
        
          &-checkbox {
            display: inline-block;
            width: 16px;
            height: 15px;
            margin-right: 9px;
            margin-left: 54px;
          
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          
            border: 2px solid #2a2a2a;
            border-radius: 4px;
          
            
          }
        }
      }
      &-textarea {
        width: 448px;
        height: 120px;
        
        position: relative;
      
        margin-bottom: 28px;
        margin-left: 40px; 
      }
      &-label {
        position: absolute;
        top: 50%;
        left: 42px;
        transform: translateY(-50%);
      
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
      
         color: $secondary-text-color;
      
         transition: transform 250ms linear;
      
      }
      &-input {
    
        font: inherit;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
      
        width: 448px;
        height: 40px;
      
        padding-left: 42px;
        
        &:focus + .form-label,
        &:not(:placeholder-shown) + .form-label {
        color: $accent-color;
        font-size: 12px;
        transform: translate(-30px, -40px);
        }
        &:focus {
          box-shadow:0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        }
        &:focus ~ .icon {
          fill: #2196F3;
        }
        &:focus {
          border-color: $accent-color;
        }
      } 
    }
  
  
  
    .label-textarea {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
    
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
    
       color: #757575;
    
       transition: transform 250ms linear;
       &:focus {
        color: $accent-color;
        box-shadow:0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12); }
    }
  
  .input-textarea {
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  
    width: 448px;
    height: 120px;
  
    padding-left: 42px;
    
    &:focus + .label-textarea,
    .input-textarea:not(:placeholder-shown) + .label-textarea {
     color: $accent-color;
     font-size: 12px;
     transform: translateY(-80px);
     }
     &:focus {
      border: 1px solid $accent-color;
      box-shadow:0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    }
    
  
  }
  
  .close{
    display: block;
    width: 30px;
    height: 30px;
  
    position: absolute;
    top: 8px;
    left: 490px;
  }
  .button-close {
    display: block;
    width: 30px;
    height: 30px;
  
    position: absolute;
    top: 8px;
    left: 490px;
  }
  
  
  .comment {
    position: absolute;
    width: 448px;
    height: 120px;
  }
  
  
  .checkbox {
    // position: absolute;
    width: 15px;
    height: 16px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin-right: 7px;
  
    &-field {
      display: flex;
      align-items: center;
    }
    &:checked + .icon-checkbox {
    
      border-color: transparent;
      
      background-image: url(.../images/symbol-defs.svg#icon-icon-check);
      background-size: contain;
      background-origin: border-box;
    }
     
    &-title {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */
    
      letter-spacing: 0.03em;
    
      color: #757575;
    }
  
    &-link {
      color:  #2196F3;;
    }
  }
  
  .button-checkbox {
    position: absolute;
    width: 200px;
    height: 50px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  
    margin-left: 165px;
    margin-bottom: 40px;
  
    
    font-style: normal;
    font-size: 16px;
    /* identical to box height, or 187% */
    
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: Roboto;
    
    font-weight: bold;
    color: $white-text-color;
    line-height: 30px;
  }
  .checkbox-field {
    display: flex;
    align-items: center;
  }